In [2]:
a = "apple"
a[-len(a)]

'a'

In [22]:
a = "Life is too short"
print(a[:4]) 
# print(a[-1:-5])

Life

In [4]:
print(a[5:7])

is

In [5]:
print(a[8:11])

too

In [21]:
print(a[12:])

short

In [17]:
a_ = a.split(" ")
print(a_)

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

In [16]:
print(a_[0])

Life

In [30]:
c = [1,2,3,4,5]
sum(c)

TypeError: 'int' object is not callable