In [ ]:
money = 2000
card = True
if (money >= 3000 or card):
    print("택시를 타고 가라")
else:
    print("걸어가라")

## IN , NOT IN

In [ ]:
pocket = ['paper', 'handphone']
card = False

if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
score = 70

message = 'success' if score >= 60  else 'failure'
print(message)

### While

In [ ]:
treeHit  = 0
while treeHit < 10:
    treeHit += 1
    print("나무를", treeHit,"번 찍었습니다.")
    if  treeHit == 10:
        print("나무 넘어갑니다~")

In [ ]:
treeHit = 1
while treeHit < 11:
    print("나무를", treeHit,"번 찍었습니다.")
    
    if  treeHit == 10:
        print("나무 넘어갑니다~")
        
    treeHit += 1

### While문 주의 사항
초기값이 중요함!

0으로 설정하냐 1로 설정하냐에 따라서 결과값이 달라짐

In [ ]:
a = 10
b = 20

print("han",a,"com",b)
print(f'han {a}, com{b}')
print("han %d, com %d" %(a,b))
print("han {}, com {}".format(a,b))
print("han{1}, com{0}".format(a,b))

In [ ]:
i = 1
sum = 0

while i < 100:
    sum = sum+i
    i = i+2
    
print(sum)

In [ ]:
range_ = list(range(1,10))

print(range_)

In [ ]:
for x in range(1,10):
    print(x, end=" ")

In [ ]:
for x in range(1,10,2):
    print(x, end=" ")

In [ ]:
for x in range(1,10,3):
    print(x, end=" ")

In [ ]:
for x in range(1,101,2):
    print(x, end=" ")

In [ ]:
sum = 0
for x in range(0, 101,2):
    print(x, end=" ")
    sum = sum + x
print(sum)

In [ ]:
a = range(0,10,2)
print(sum(a))

In [ ]:
data = []
for x in range(1,101):
    data.append(x)
print(data)

In [ ]:
data = []
for x in range(1,101):
    data.append(0)
# print(data)
print(len(data))

In [ ]:
data = [ 0 for x in range(100)]
data_ = [ x for x in range(101)]
# print(data)
print(data_)

In [ ]:
data = [ x for x in range(101) if x%2 == 0]
print(data)

In [ ]:
multi = """저는 진혜주입니다.
나이는 28살이고
주소는 서울입니다. 반갑습니다.
"""

a = multi.split("\n")

print(a[0])

In [ ]:
for a in multi.split("\n"):
    for b in a.split():
        print(b, end = " ")
    print()

In [ ]:
number = -1
name = "hyejoo"
age = "29살"

print(name[::number])
print(age[::number])

In [ ]:
a = "hanna hi~~"
b = a.find('h')
c = a[b+1:].find('h')
a[:5]+"!!"+a[-4:]
print(c)

In [ ]:
a.find("k")

In [ ]:
a.index("k")

In [ ]:
chk = a.find('h')
print("찾는 문자 없어요" if chk == -1 else str(chk+1)+"번째에 위치합니다.")


# if chk == -1:
#     print("찾는 문자 없어요")
# else:
#     print(str(chk+1)+"번째")

In [ ]:
"!".join("abcde")

In [ ]:
a = 'Seoul'
b = 'Daegu'
c = 'Daegeon'

print(a,b,c, sep=' and ', end = ' the end ')

In [ ]:
a = "handjfajhefjjdhffiehffhfhah"

index = 1

for x in a:
    if x == 'h':
        print(str(index)+"번째에 존재")
    index += 1
    
    
target = 'h'
index = -1

while True:
    index = str.find(target, index+1)
    if index == -1:
        break
    print('start=%d' % index)

In [ ]:
sw = 1
total = 0

for n in range(1,11):
    if sw ==1:
        total = total + n
    else: 
        total = total -n
        
    sw = -(sw)

for n in range(1,11):
    total = total + (n*sw)
    sw= -sw

print(n)

In [ ]:
a = int(input("정수 값을 입력하시오(1회): "))
b = int(input("정수 값을 입력하시오(2회): "))
c = int(input("정수 값을 입력하시오(3회): "))

print(max(a,b,c))

In [ ]:
a = int(input("정수 값을 입력하시오(1회): "))
b = int(input("정수 값을 입력하시오(2회): "))
c = int(input("정수 값을 입력하시오(3회): "))

if a>b and a>c: 
    print(a)
if b>a and b>c:
    print(b)
if c>a and c>b:
    print(c)
    
if ((a==b) and (a>c)) or ((b==c) and (b>a)) or ((c==a) and (c>b)):
    print("최대값이 중복입니다.")

In [ ]:
###스위치 변수!! 추가 변수, 변경하지 않아도 되는 변수~

maxx = -1

for x in range(3):
    a = int(input())
    if a > maxx:
        maxx = a

print("최댓값 >>>> ", maxx)

In [ ]:
import random

a = []

for x in range(1,20):
    a.append(random.randint(1,20))
    
print(a)

for x in a:
    print("숫자",x,"는(은) 뽑혔습니다.")

In [ ]:
import random
score = int(random.randint(0,100))

if score >= 90:
    print("뽑힌 점수: " + str(score) +"\n장학생입니다.")
if score >= 60:
    print("뽑힌 점수: " + str(score) +"\n합격생입니다.")
if score < 60:
    print("뽑힌 점수: " + str(score) +"\n불합격입니다.")

In [1]:
hap = 0
for n in range(1234, 4568):
    while n%444 ==0:
            hap += n

print(hap)

KeyboardInterrupt:

In [ ]:
i = 1
total = 0

while 0 < i <1001:
    if i%3 == 0:
        total += i
    i += 1

print(total)

In [ ]:
i = 1
while i < 6:
    print(i*'*')
    i+= 1

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0

for x in A:
    total += x
    
print(total/len(A))

In [ ]:
numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n%2 ==1]

print(result)
# for n in numbers:
#     if n%2 == 1:
#         result.append(n*2)

In [4]:
import random
nn =[]

for _ in range(10):
    num = random.randrange(1,100)
    nn.append(num)
print(nn)

hap = 0

for i in range(10):
    num = nn[i]
    hap += num
print(hap)

[57, 58, 47, 5, 34, 44, 39, 72, 83, 36]
475

In [ ]:
ss = 'python'
print(ss[0])
print(ss[1:2])
print(ss[-3:-1])
print(ss[3:])

In [ ]:
ss.title()
ss.swapcase()

In [ ]:
ss = "Python 파이썬"

ss.replace('파이썬', 'Python')

In [ ]:
def f1():
    print(var)

def f2():
    var = 10
    print(var)

var = 100

f1()
f2()

In [34]:
def addNumber(num):
    
    if num <=1:
        return 1
    else:
        return num + addNumber(num-1)
    
    
addNumber(100)

5050

In [35]:
def plus_100(n):
    
    if n > 1:
        return n + plus_100(n-1)
    else:
        return 1
    
plus_100(100)

5050