In [ ]:
a = [1,2,3]
a = ["one", "two", "three"]

print(a)

In [ ]:
list1 = ['Ace', 'King', 'Queen']

# list1.index('Ace')

list1.count("Test")

In [ ]:
a = [1,2,3]
a.append(4)

In [ ]:
print(a)

In [ ]:
a =[1,3]
a.insert(1,2)

In [ ]:
print(a)

In [ ]:
a.insert(4,4)

In [ ]:
print(a)

In [ ]:
a = ['tea','coffee','soda','milk','juice']
# a.pop(2)
# a.remove(2)
del a[-1]

In [ ]:
print(a)

In [ ]:
a = [1,2,3,4,5]
res = a.pop()
print(res)

In [ ]:
a = [1,2,3,4,5]
res = a.remove(2)
print(res)
print(a)

In [ ]:
a = [1,2,3,4,5]
res = del a[-1]
print(res)

In [ ]:
a = ['A', 'B', 'C', 'D']
chk = 'B' in a

if chk:
    b = a.index('B')
    a.pop(b)
    print(a)

##### Q1
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>s = "hello"

>t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예: hello! python

In [ ]:
s = "hello"
t = "python"

print(s+"! "+t)

In [ ]:
print(s+"!",t)

##### Q2
문자열을 정수로 변환(문자열 '720'를 정수형으로 변환해보세요.)

>num_str = "720"

In [ ]:
num_str = "720"
a = int(num_str)
print(a)

In [ ]:
num_str = int("720")

##### Q3
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>letters = 'python'

실행 예

p t

In [ ]:
letters = 'python'
print(letters[0], letters[2])

In [ ]:
a = 'python'
print(a[0], end = " ")
print(a[2])
a[:4:2]

##### Q4
전화번호 뒤에 4자리만 출력하세요.

>license_plate = "01083752210"

실행 예: 2210

In [ ]:
license_plate = "01083752210"

last_number = license_plate[-4:]
print("실행 예:", last_number)

##### Q5
아래의 문자열에서 '홀' 만 출력하세요.

>string = "홀짝홀짝홀짝"

실행 예:홀홀홀

In [ ]:
string = "홀짝홀짝홀짝"

odd = string[::2]
print("실행 예: ", odd)

##### Q6
문자열을 거꾸로 뒤집어 출력하세요.

>string = "PYTHON"

실행 예:

NOHTYP

In [ ]:
string = "PYTHON"
a = string[::-1]
#a = string[::-1]
print(a)

##### Q7
아래 코드의 실행 결과를 예상해보세요.

> a = "3"

> b = "4"

> print(a + b)

In [ ]:
a = "3"
b = "4"
print(a+b)

##### Q8
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

> t1 = 'python'

> t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.


실행 예:

python java python java python java python java

In [ ]:
t1 = 'python'
t2 = 'java'
t3 = t1 +' '+ t2 +' '
# t3 = (t1, t2)    => ('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')
print(t3*4)

##### Q9
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때  print 함수를 사용해서 다음과 같이 출력해보세요.

> name1 = "김민수"

> age1 = 10

> name2 = "이철희"

> age2 = 13 

실행 예:

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13


print("이름:",name1, "나이:", str(age1))
print("이름: "+name2+ " 나이: " +str(age2))

In [ ]:
grade = 50

if 90<=grade:
    print("A")
elif 80<=grade:
    print("B")
elif 70<=grade:
    print("C")
else:
    print("No Score")

### 연령대 확인 프로그램

10살부터 39살까지, 10대, 20대, 30대만 가능

키보드로 입력 받은 후 연령대 판단해서 안내해주기

In [ ]:
age = int(input("나이를 입력해주세요.(10~39세 사이만 입력 가능) "))

if 10<=age:
    print("10대입니다.")
elif 20<=age:
    print("20대입니다.")
elif 30<=age:
    print("30대입니다.")
else:
    print("나이를 다시 한 번 입력해주세요.")

In [ ]:
age = int(input("나이를 입력해주세요.(10~39세 사이만 입력 가능) "))

print(str(age//10)+"0대입니다.")

### Lotto program

In [66]:
import random

lottoNum = []

while True:
    r = random.randint(1,45)
    if not(r in lottoNum):
#     if r not in lottoNum:
        lottoNum.append(r)
    if len(lottoNum) == 6:  
        break
        
        
print(lottoNum)

[6, 11, 8, 37, 23, 38]

In [45]:
import random

lottoNum = []

while True:
    r = random.randint(1,45)
    lottoNum.append(r)
    if lottoNum.count(r)>1:
        lottoNum.remove(r)
    if len(lottoNum)==6:  
        break
        
print(lottoNum)

[34, 18, 12, 9, 14, 1]

In [27]:
import random

lottoNum = []

for x in range(6):
    x = random.randint(1,45)
    if x not in lottoNum:
        lottoNum.append(x)
    if len(lottoNum) == 6:
        break
    
print(lottoNum)

[8, 20, 2, 43, 22]

### Hanna's Code

In [26]:
import random
lotto =[]

#1. 코드 줄이기
while len(lotto)!= 6:
    r = random.randint(1,45)
    if not (r in lotto):
        lotto.append(r)
        lotto.sort()
print(lotto)

#2. Set
lotto = []
while len(lotto)!= 6:
    lotto.append(random.randint(1,45))
    lotto = set(lotto)
    lotto = list(lotto)
    lotto.sort()
print(lotto)

[6, 18, 21, 24, 31, 37]
[7, 10, 11, 25, 36, 44]

### Function

In [28]:
import random

def test():
    lotto = []
    while len(lotto)!= 6:
        lotto.append(random.randint(1,45))
        lotto = set(lotto)
        lotto = list(lotto)
        lotto.sort()
    print(lotto)

In [29]:
test()

[6, 9, 15, 19, 20, 34]

In [15]:
import random
a = ["가위", "바위", "보"]
r = random.randint(0,2)
lina = a[r]
hanna = input("가위/바위/보 중에 입력 >> ")

print("Lina",lina,"Hanna",hanna)

if (lina == '가위' and hanna == '보') or (lina == '바위' and hanna == '가위') or (lina == '보' and hanna =='바위'):
    print("Lina 승")

if(lina == '가위' and hanna =='바위') or (lina=='바위' and hanna =='보') or (lina == '보' and hanna == '가위'):
    print("Hanna 승")
    
if lina == hanna:
    print("Draw")

가위/바위/보 중에 입력 >> 가위
Lina 보 Hanna 가위
Hanna 승