In [1]:
grade = ["이한나", 90, 80, 70]

print(grade[1:4])

[90, 80, 70]

In [2]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums[0:9:2]

[1, 3, 5, 7, 9]

In [3]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
data = [2, 4, 3, 1, 5, 10, 9]

data.remove(max(data))
print(data)

[2, 4, 3, 1, 5, 9]

In [12]:
number= [[1,2,3],[4,5],[7,8,9]]

number.insert(1,6)
print(number)

[[1, 2, 3], 6, [4, 5], [7, 8, 9]]

In [16]:
word = [["가","다"],["라","마","바"],["사","아"]]

word.insert(0,["나"])
print(word)

[['나'], ['가', '다'], ['라', '마', '바'], ['사', '아']]

In [35]:
name =["한나","두나","세나"]
score = [ 100, 70, 90]

for x in range(3):
    print(name[x], str(score[x])+"점")

한나 100점
두나 70점
세나 90점

In [52]:
data = [["한나","두나","세나"],[100, 70, 90]]

for x in range(len(data)+1):
    print(data[0][x], str(data[1][x])+"점")

한나 100점
두나 70점
세나 90점

In [63]:
student =[["한나",100],["두나",80],["세나",70]]

for x in range(len(student))
    final_student = str(student[x])
    print(final_student)

SyntaxError: invalid syntax (150591379.py, line 3)

In [65]:
student =[["한나",100],["두나",80],["세나",70]]

for s in student:
    if not "네나" in s
        print("네나 없다!!")

SyntaxError: invalid syntax (200697268.py, line 4)